<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Security of Passion</title>
    </head>
    <body style="background-color: black;">
        <div style="margin-top: 4%; font-size: 8vw; color: white; text-align: center;">
          Passion Security:
        </div>
        <div style="margin-top: 3%; font-size: 3vw; color: white; margin-left: 15%; margin-right: 15%; text-align: center; float: center;">
          Hey, it looks like you are trying to break into this website maliciously, you may not enter into this website at this moment. Please do not try to break into the website again, please wait 5 minutes before logging in again.
        </div>
        <br>
        
        
    </body>
</html>