<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Search Passion</title>
    </head>
    <body style="background-color: black;">
        <div style="margin-top: 4%; font-size: 13vw; color: white; text-align: center;">
          Passion
        </div>
        <form action="/" method="POST">
        <div class="form-group">

          <br>
          <br>

          <input placeholder="🔎" type="text" name="query" id="query"  style="height: 80px; width: 94%; margin-left: 3%;">
        </div>
        <div class="form-group">

        </div>
        </form>
        {% for result in results %}
        <br>
        <div style="color: black; font-size: 5vw; padding-left: 5%; background-color: grey; margin-left: 3%; margin-right: 3%; padding-right: 5%;">
          <name style="font-size: 5vw;">Name: {{result.name}}</name><br>
          <name style="font-size: 3vw;">Description: {{result.description}}</name><br>
          <name style="font-size: 3vw;">Link: <a href={{result.link}}>{{result.link}}</a></name><br>
          {% if session.get("name") and session.get("rank") == "1" %}
          <name style="font-size: 3vw;">ID: {{result.id}}</name><br>
          {% endif %}
        </div>

        {% endfor %}

    </body>
</html>